-f https://download.pytorch.org/whl/torch_stable.html
torch==1.6.0+cpu
torchvision==0.7.0+cpu
gunicorn==20.0.4
flask==1.1.2
flask-restful==0.3.8
coloredlogs==2
werkzeug==1.0.1
IPython==7.18.1
fastai==2.0.13
requests==2.24.0
flask_cors