-f https://download.pytorch.org/whl/torch_stable.html
gunicorn==20.0.4
flask==1.1.2
flask-restful==0.3.8
coloredlogs==2
werkzeug==1.0.1
IPython==7.18.1
# https://download.pytorch.org/whl/cpu/torch-1.6.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
torch==1.6.0%2Bcpu
torchvision==0.7.0%2Bcpu
fastai==2.0.13
